[Unit]
Description=Gunicorn server for SITENAME

[Service]
Restart=on-failure
User=yyy
WorkingDirectory=/home/yyy/sites/SITENAME/source
ExecStart=/home/yyy/sites/SITENAME/virtualenv/bin/gunicorn --bind unix:/tmp/
SITENAME.socket notes.wsgi:application

[Install]
WantedBy=multi-user.target